

.EditWorker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}

.EditWorker form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.EditWorker label {
    margin-top: 10px;
    font-family: fantasy;
    font-size: 30px;
    color: #231942;
}

.EditWorker input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Verdana;
    font-size: 30px;
}

.EditWorker button {
    background-color: #9F86C0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.EditWorker button:hover {
    background-color: #7C5E99;
}


.EditWorker * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    background-color: #BE95C4;
}

nav {
    background-color: #9F86C0;
    padding: 10px;
    font-size: 50px;
    font-family: fantasy;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: fantasy;
}

li {
    font-family: fantasy;
    margin-bottom: 30px;
}

Link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

Link:hover {
    text-decoration: underline;
}

Outlet {
    padding: 20px;
}
